<h1>Listing produits</h1>

<table>
  <thead>
    <tr>
      <th>Image </th>
      <th>Nom</th>
      <th>Description</th>
      <th>User </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produits.each do |produit| %>
      <tr>
        <td> <%= image_tag produit.image.url (:thumb)%> </td>
        <td><%= produit.nom %></td>
        <td><%= produit.description %></td>
        <td><%= produit.user.email if produit.user %></td>
        <td><%= link_to 'Show', produit %></td>
        <% if produit.user == current_user %> 
        <td><%= link_to 'Edit', edit_produit_path(produit) %></td>
        <td><%= link_to 'Destroy', produit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Produit', new_produit_path %>
<% end %>