<%= image_tag @produit.image.url(:medium) %>

<p>
  <strong>Nom:</strong>
  <%= @produit.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produit.description %>
</p>

<% if @produit.user == current_user %>
<%= link_to 'Edit', edit_produit_path(@produit) %> 
<% end %>
<%= link_to 'Back', produits_path %>
